<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if user %}
    <title>Welcome to {{ user.username }}'s site</title>
    {% endif %}
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item active">
            <a class="navbar-brand" href="#">{% if user %}{{ user.username }}'s City Data Site{% else %}{% endif %}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="api/cities">Cities API JSON endpoint <span
                    class="sr-only">(current)</span></a>
        </li>
    </ul>
<main class="container" role="main">{% block content %}{% endblock %}</main>
</body>
</html>